$mobile-width: 767px;
$mobile-width-plus: $mobile-width + 1;

$laptop-width: 1023px;
$laptop-width-plus: $laptop-width + 1;

$desktop-width: 1439px;
$desktop-width-plus: $desktop-width + 1;

.team-app-page-container {
  padding: 5px;

  @media only screen and (min-width: $mobile-width-plus) and (max-width: $laptop-width) {
    padding: 10px;
  }

  @media only screen and (min-width: $laptop-width-plus) {
    padding: 20px;
  }
}

.team-app-introduction-section {
  background-color: #121110;

  .team-app-navbar-container {
    display: flex;
    justify-content: space-between;
  }

  .team-app-navbar-icon {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Abril Fatface", cursive;

    @media only screen and (min-width: $mobile-width) and (max-width: $laptop-width) {
      margin-left: 50px;
    }

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      margin-top: 5%;
      margin-left: 5%;
      font-size: 24px;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      margin-top: 3%;
      margin-left: 10%;
      font-size: 32px;
    }
  }

  .team-app-navbar-navigation-container {
    margin-top: 20px;
    margin-right: 20px;

    @media only screen and (min-width: $mobile-width) and (max-width: $laptop-width) {
      margin-right: 50px;
    }

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      margin-top: 5%;
      margin-right: 5%;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      margin-top: 3%;
      margin-right: 10%;
    }
  }

  .team-app-navbar-link {
    margin-right: 20px;
    padding: 5px;
    color: white;
    background: url("../Assets/Images/orange-rectangle.png");
    background-repeat: no-repeat;
    background-size: 30px 7px;
    background-position: 90% 80%;
    text-decoration: none;
    font-size: 14px;

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      font-size: 18px;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      font-size: 24px;
    }
  }

  .team-app-navbar-button {
    padding: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background: url("../Assets/Images/orange-rectangle.png");
    background-repeat: no-repeat;
    background-size: 60px 7px;
    background-position: 90% 80%;
    font-size: 14px;

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      font-size: 18px;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      font-size: 24px;
    }
  }

  .team-app-developer-description-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .team-app-introduction-heading {
    text-align: center;
    color: white;
    margin-top: 50px;
    text-transform: uppercase;

    @media only screen and (min-width: $mobile-width-plus) and (max-width: $laptop-width) {
    }

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
    }

    @media only screen and (min-width: $desktop-width-plus) {
    }
  }

  .team-app-introduction-title {
    color: white;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 400;
    padding: 10px;
    text-align: center;

    @media only screen and (min-width: $mobile-width-plus) and (max-width: $laptop-width) {
      font-size: 42px;
    }

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
    }

    @media only screen and (min-width: $desktop-width-plus) {
    }
  }

  .team-app-introduction-description {
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
    font-family: "Mulish", sans-serif;
    text-align: center;

    @media only screen and (min-width: $mobile-width-plus) and (max-width: $laptop-width) {
    }

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
    }

    @media only screen and (min-width: $desktop-width-plus) {
    }
  }

  .team-app-visit-live-site-button-container {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 50px;
  }

  .team-app-visit-live-site-button {
    font-size: 18px;
    padding-right: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background: url("../Assets/Images/orange-rectangle.png");
    background-repeat: no-repeat;
    background-size: 50px 10px;
    background-position: 90% 90%;
  }
}

.team-app-website-example {
  @media only screen and (min-width: $desktop-width-plus) {
  }

  .team-app-website-example-divider {
    @media only screen and (min-width: $laptop-width-plus) {
    }
  }

  .team-app-website-example-text-container {
    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
    }

    @media only screen and (min-width: $desktop-width-plus) {
    }
  }

  .team-app-website-example-heading {
    @media only screen and (min-width: $laptop-width-plus) {
    }
  }

  .team-app-team-app-website-image-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
    }

    @media only screen and (min-width: $desktop-width-plus) {
    }
  }

  .team-app-team-app-website-image {
    width: 300px;

    @media only screen and (min-width: $mobile-width) and (max-width: $laptop-width) {
      width: 600px;
    }

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
    }

    @media only screen and (min-width: $desktop-width-plus) {
    }
  }
}

.team-app-footer {
  @media only screen and (max-width: $laptop-width) {
    display: none;
  }

  background-color: #121110;
  margin: 5px;

  .footer-divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: $laptop-width-plus) {
      flex-direction: row;
    }
  }

  .footer-left-side {
    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      width: 100%;
      margin-left: 5%;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      width: 100%;
      text-align: left;
      margin-left: 10%;
    }
  }

  .footer-heading {
    font-family: "Abril Fatface", cursive;
    color: white;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      text-align: left;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      text-align: left;
      font-size: 56px;
    }
  }

  .footer-heading-span {
    padding-right: 5px;
    background: url("../Assets/Images/green-rectangle.png");
    background-repeat: no-repeat;
    background-size: 80px 20px;
    background-position: 82% 80%;
  }

  .copyright-statement {
    color: white;
    margin-top: 50px;
    text-align: center;

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      text-align: left;
      font-size: 10px;
      margin-top: 100px;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      text-align: left;
      font-size: 10px;
      margin-top: 150px;
    }
  }

  .footer-right-side {
    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      width: 100%;
      margin-right: 5%;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      width: 100%;
      margin-right: 10%;
    }
  }

  .footer-website-example-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Mulish", sans-serif;
    color: white;
    margin-top: 30px;
    text-align: center;

    @media only screen and (min-width: $laptop-width-plus) and (max-width: $desktop-width) {
      text-align: left;
    }

    @media only screen and (min-width: $desktop-width-plus) {
      text-align: left;
      margin-top: 40px;
      line-height: 50px;
    }
  }

  .footer-description-span {
    padding-right: 10px;
    background: url("../Assets/Images/green-rectangle.png");
    background-repeat: no-repeat;
    background-size: 275px 10px;
    background-position: 90% 100%;
  }
}

.team-app-footer-mobile {
  @media only screen and (min-width: $laptop-width-plus) {
    display: none;
  }

  background-color: #121110;

  .team-app-footer-divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-left-side {
  }

  .team-app-footer-heading {
    font-family: "Abril Fatface", cursive;
    color: white;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;

    @media only screen and (min-width: 375px) and (max-width: 424px) {
      background-size: 80px 20px;
      background-position: 75% 85%;
    }

    @media only screen and (min-width: 425px) and (max-width: $mobile-width) {
      background-size: 80px 20px;
      background-position: 72% 85%;
    }
  }

  .team-app-footer-heading-span {
    padding-right: 5px;
    background: url("../Assets/Images/orange-rectangle.png");
    background-repeat: no-repeat;
    background-size: 80px 15px;
    background-position: 82% 90%;
  }

  .team-app-footer-website-example-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Mulish", sans-serif;
    color: white;
    margin-top: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
  }

  .team-app-footer-description-span {
    padding-right: 10px;
    background: url("../Assets/Images/orange-rectangle.png");
    background-repeat: no-repeat;
    background-size: 275px 10px;
    background-position: 100% 95%;
  }

  .team-app-copyright-statement {
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
  }
}
